:root {
  --blue: #0000FF;
  --green: #00FF00;
  --yellow: #FFFF00;
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
  display: inline;
}

h2.dialog {
	font-size: 2rem;
	text-align: center;
}
	
.dialog_button {
	display: flex;
	justify-content: space-between;
}	

#app {
    width: 100%;
    margin: 0 auto;
    padding: 2rem;
    text-align: center;
}

#category_buttons {
    position: absolute;
    top: 0;
    width: 100%;
}

#myreservations_tabs {
    height: 500px;
}

#myreservations_table {
    width: 100%;
    margin: 0 auto;
}

.calendar {
    width: 100%;
}

.calendar_cell {
    height: 100px;
}

.day {
    width: 100%;
}

p.rsv {
    border-radius: 2em;
    font-size: 10px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: hidden;
    margin: auto;
    width: max-content;
    padding-inline: 1em;
}
.pool p.rsv {
    color: white;
}
.openwater p.rsv {
    color: black;
}
.classroom p.rsv {
    color: black;
}
table.calendar {
    table-layout: fixed;
    width: 100%;
    border-collapse:collapse;
}

table.pool td.pool {
    border:1px solid var(--blue);
}

table.openwater td.openwater {
    border:1px solid var(--green);
}

table.classroom td.classroom {
    border:1px solid var(--yellow);
}

td.calendar_cell {
    vertical-align: top;
    text-align: center;
    width: 14%;
}

.pool p.rsv{
    background: var(--blue);
}

.openwater p.rsv {
    background: var(--green);
}

.classroom p.rsv {
    background: var(--yellow);
}

button.tab_button {
	background: none;
	border: none;
	border-radius: 0;
	margin: 0;
	color: gray;
}
	
.tab_button.selected {
	color: white;
}

button, input[type=submit] {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}

button:hover, input[type=submit]:hover {
  border-color: #646cff;
}

button:focus, input[type=submit]:focus
button:focus-visible, input[type=submit]:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
    height: 100vh;
    width: 100vw;
  }
  button, input[type=submit] {
    background-color: #f9f9f9;
  }
  .tab_button.selected {
      color: black;
  }
}

#today {
    border-radius: 2em;
}

.pool #today {
    color: white;
    background: var(--blue);
}

.openwater #today {
    background: var(--green);
    color: black;
}

.classroom #today {
    background: var(--yellow);
    color: black;
}

.arrow {
    border: solid black;
    border-width: 0 0.5em 0.5em 0;
    display: inline-block;
    padding: 0.5em;
}

.right {
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
}

.left {
    transform: rotate(135deg);
    -webkit-transform: rotate(135deg);
}

.up {
    transform: rotate(-135deg);
    -webkit-transform: rotate(-135deg);
}

.down {
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
}

