:root {
  --blue: #0000FF;
  --green: #00FF00;
  --yellow: #FFFF00;
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
  place-items: center;
  min-height: 100vh;
}

#app {
}

h1 {
    font-size: 3.2em;
    line-height: 1.1;
    display: inline;
}

h2.dialog {
	font-size: 2rem;
    text-align: center;
}

.dateNav {
    text-align: center; 
}

.submitButton {
    text-align: right;
    padding: 5px;   
}	

.submitForm h2 {
    text-align: center;
}

.submitForm .labels {
    text-align: right;
}

.submitForm .inputs {
    text-align: left;
}

.column {
    float: left;
    margin: 5px;
}

.row:after {
    content: "";
    display: table;
    clear: both;
}

.menu {
    text-align: center;
}

.pool.single-day.row {
    width: 100%;
}

.classroom.single-day.row {
    width: 80%;
}

.single-day .column {
    text-align: center;
}

.pool .column {
    width: calc(20% - 10px);
}

.classroom .column {
    width: calc(25% - 10px);
}

.submitForm .column {
    width: calc(33% - 10px);
}

button.buddy {
    padding: 0 4px 2px 4px;
}

div.autocomplete {
  /*the container must be positioned relative:*/
  position: relative;
  display: table;
}

.autocomplete > div {
    display: table-cell;
}

.autocomplete input {
    margin: 0 5px 0 0;
}

#formComments {
    width: 100%; 
};

input[type=submit] {
  background-color: DodgerBlue;
  color: #fff;
}
	
#autocomplete-items-list {
	position: relative;
	margin: 0;
	padding: 0;
	top: 0;
    width: 100%;
	border: 1px solid #ddd;
	background-color: #ddd;
}

.calendar-heading {
    margin: 5px 0 5px 20px;
}

#myreservations_tabs {
    height: 500px;
}

#myReservationsTable {
    margin: 0 auto;
}

#myReservationsTable td {
    width: 100px;
}

.rsv {
    text-align: center;
    border-radius: 1.5em;
    font-size: 10px;
    margin: 3px;
    width: calc(100% - 6px);
    padding-inline: 1em;
    overflow: scroll;
}

.single-day .rsv {
    font-size: 13px;
}

.pool .rsv {
    color: white;
    background: var(--blue);
}

.openwater .rsv {
    color: black;
    background: var(--green);
}

.classroom .rsv {
    color: black;
    background: var(--yellow);
}

table.calendar {
    table-layout: fixed;
    border-collapse: collapse;
    margin: 0 0 5px 0;
    width: 100%;
}

table.pool td {
    border:1px solid var(--blue);
}

table.openwater td {
    border:1px solid var(--green);
}

table.classroom td {
    border:1px solid var(--yellow);
}

table.calendar td {
    vertical-align: top;
    text-align: center;
    white-space: nowrap;
    overflow-x: auto;
    height: 120px;
}

.dayOfMonth {
    overflow: hidden;
    height: 100%;
}

.dayOfMonth .date {
    margin: auto;
    width: 25px;
    text-align: center;
}

button.month-view {
    padding: 5px;
    float: left;
}

.single-day td, .single-day th {
    width: 200px;
}

.single-day td p {
    margin: 5px;
    white-space: nowrap;
}

.tabs {
    text-align: center;
}

button.tab_button {
	background: none;
	border: none;
	border-radius: 0;
	margin: 0;
	color: gray;
}
	
.tab_button.selected {
	color: white;
}

button, input[type=submit] {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}

button:hover, input[type=submit]:hover {
  border-color: #646cff;
}

button:focus, input[type=submit]:focus
button:focus-visible, input[type=submit]:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

button.fb_loggedout {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#currentUser {
    font-size: 12px;
}

#profilePicture {
   border-radius: 50%;
   margin: 10px;
   width: 40px;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
    height: 100vh;
    width: 100vw;
  }
  button, input[type=submit] {
    background-color: #f9f9f9;
  }
  .tab_button.selected {
      color: black;
  }
}

#today {
    border-radius: 2em;
}

.pool #today {
    color: white;
    background: var(--blue);
}

.openwater #today {
    background: var(--green);
    color: black;
}

.classroom #today {
    background: var(--yellow);
    color: black;
}

.arrow {
    border: solid black;
    border-width: 0 0.2em 0.2em 0;
    display: inline-block;
    padding: 0.3em;
}

.right {
    transform: translate(0px, 6px) rotate(-45deg);
    -webkit-transform: translate(0px, 0px) rotate(-45deg);
}

.left {
    transform: translate(0px, 6px) rotate(135deg);
    -webkit-transform: translate(0px, 0px) rotate(135deg);
}

.up {
    transform: rotate(-135deg);
    -webkit-transform: rotate(-135deg);
}

.down {
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
}

